<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<body>
    <i class="glyphicon glyphicon-user"></i>
    <div class="header">会社員管理システム</div>
    <div class="shain">社員追加/編集</div>
    <form>
        <label for="">ユーザID:</label>
        <br>
        <input type="text" id="" name="" value="例:1">
        <br>

        <label for="">名前：</label>
        <br>
        <input type="text" id="" name="" value="">
        <br>
        <label for="">性別：</label>
        <br>
        <input type="text" id="" name="" value="">
        <br>
        <label for="">位置：</label>
        <br>
        <input type="text" id="" name="" value="">
        <br>
        <label for="">参考:</label>
        <br>
        <textarea rows="5" cols="20"></textarea>
    </form>
    <br>
    <button class="button">保存</button>

</body>
</html>