<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <i class="glyphicon glyphicon-user"></i>
    <div class="header">会社員管理システム</div>
    <div>
        <div class="shain">社員一覧</div>

        <button class="my-btn my-btn-logout">
            
        </button>
        <button class="my-btn my-btn-insert">
            
        </button>
    </div>
    <br><br>


    <table class="table" style="width: 96%">
        <tr>
            <th class=" title-table ">ID</th>
            <th class="title-table ">名前</th>
            <th class="title-table ">性別</th>
            <th class="title-table ">位置</th>
            <th class="title-table ">備考</th>
            <th class="title-table "></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Nguyen Van A</td>
            <td>男</td>
            <td>社長</td>
            <td ></td>
            <td>
                <button class="sua ">編集</button>
                <button class="xoa ">削除</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Nguyen Van B</td>
            <td>女</td>
            <td>部長</td>
            <td></td>
            <td>
                 <button class="sua ">編集</button>
                <button class="xoa ">削除</button>
            </td>
        </tr>
    </table>



</body>
</html>